@{
	ViewBag.Title = "Downloads";
}
<h2>@ViewBag.Title.</h2>
<h3 style="color: whitesmoke">@ViewBag.Message</h3>

<p>
	<div class="downloadLinks">
		<ul>
			<li><a href="../../Software/cpu-z_1.77-en.exe">CPU-Z</a></li>
			<li><a href="../../Software/AgentRansack_867.exe">Agent Ransack</a></li>
		</ul>
	</div>
