$font-stack: 'Roboto';
$colors: ( primary: cornflowerblue );
$portable-screen-width: 460px;
$small-screen-width: 1366px;
$medium-screen-width: 1600px;
$big-screen-width: 1860px;

//Brand Primary Colors
$brand-primary-bg: #5c2040;
$brand-default: #772953;
$body-bg: #dcdbdb;
$container-bg: #fff;

//Round Tabs
$round-tabs-pending-color: #424242;
$round-tabs-active-color: #282880;
$round-tabs-complete-color: #6d1f7b;

