@{
	ViewBag.Title = "Home Page";
}

<div class="selections">
	<br><br />
	<h1 align="center" style="color: whitesmoke">@ViewBag.Message</h1>
	<h1 align="center" style="color: whitesmoke">@DateTime.Now</h1>
	<div class="row">
		<div class="col-md-12">
			<center>
				&nbsp;
				<p>
					<table class="quickSelectTable">
						<tbody>
							<tr>
								<td>
									 <a target="_blank" href="https://mail.google.com"><img src="../../Img/gmail-100px.png"  /></a> 
								</td>
								<td>
									 <a target="_blank" href="https://drive.google.com/drive/#my-drive"><img src="../../Img/googledrive-100px.png"  /></a> 
								</td>

								<td>
									 <a target="_blank" href="https://onedrive.live.com/about/en-us/"><img src="../../Img/OneDrive-100px.jpg"  /></a> 
								</td>

								<td>
									 <a target="_blank" href="https://www.dropbox.com"><img src="../../Img/dropbox.png"  /></a> 
								</td>
								<td>
									 <a target="_blank" href="https://www.google.com/calendar/render#g"><img src="../../Img/googlecalendar-100px.png"  /></a> 
								</td>
								<td>
									 <a target="_blank" href="http://www.twitter.com/"><img src="../../Img/Twitter-100px.png"  /></a> 
								</td>

								<td>
									 <a target="_blank" href="https://www.facebook.com"><img src="../../Img/facebook-100px.png"  /></a> 
								</td>

								<td>
									 <a target="_blank" href="https://www.linkedin.com/hp/?dnr=h0FKDdhO1a7gUDc1QME6DLTF-57gUEBwCJzE&trk=nav_responsive_tab_home"><img src="../../Img/LinkedIn-100px.png"  /></a> 
								</td>
							</tr>
							<!---------------------------------------------------------- END ROW 1 ---------------------------------------------------------------->
							<!---------------------------------------------------------- NEW ROW 2 ---------------------------------------------------------------->
							<tr>
								<td>
									 <a target="_blank" href="http://www.amazon.com/"><img src="../../Img/Amazon-100px.png"  /></a> 
								</td>

								<td>
									 <a target="_blank" href="http://www.newegg.com/"><img src="../../Img/NewEgg-100px.jpg"  /></a> 
								</td>

								<td>
									 <a target="_blank" href="https://www.chase.com"><img src="../../Img/chase-100px.png"  /></a> 
								</td>

								<td>
									 <a target="_blank" href="https://firstunitedbank.customercarenet.com/ccn/fub/mymortgage.html#HOME-SEC-C"><img src="../../Img/Rent-100px.jpg"  /></a> 
								</td>

								<td>
									 <a target="_blank" href="https://myaccount.coserv.com/"><img src="../../Img/coserv-100px.png"  /></a> 
								</td>

								<td>
									 <a target="_blank" href="https://usbank.com"><img src="../../Img/USBank-100px.png"  /></a> 
								</td>

								<td>
									 <a target="_blank" href="https://www.att.com/olam/loginAction.olamexecute?fromdlom=true"><img src="../../Img/at&t-100px.png"  /></a> 
								</td>

								<td>
									 <a target="_blank" href="https://www.hondafinancialservices.com/account-management"><img src="../../Img/Honda.jpg"  /></a> 
								</td>

							</tr>
							<!---------------------------------------------------------- END ROW 2 ---------------------------------------------------------------->
							<!---------------------------------------------------------- NEW ROW 3 ---------------------------------------------------------------->
							<tr>
								<td>
									 <a target="_blank" href="http://www.plex.tv"><img src="../../Img/plex-100px.png"  /></a> 
								</td>

								<td>
									 <a target="_blank" href="http://www.netflix.com"><img src="../../Img/netflix-100px.png"  /></a> 
								</td>

								<td>
									 <a target="_blank" href="https://eztv.ch/"><img src="../../Img/EZTV-100px.png"  /></a> 
								</td>

								<td>
									 <a target="_blank" href="http://www.youtube.com"><img src="../../Img/youtube-100px.png"  /></a> 
								</td>

								<td>
									 <a target="_blank" href="https://ifttt.com/recipes"><img src="../../Img/Ifttt-100px.jpeg"  /></a> 
								</td>

								<td>
									 <a target="_blank" href="http://www.iheart.com/"><img src="../../Img/iheart-100px.png"  /></a> 
								</td>

								<td>
									 <a target="_blank" href="https://csc.ntta.org/olcsc/"><img src="../../Img/NTTA-100px.jpg"  /></a> 
								</td>

								<td>
									 <a target="_blank" href="https://mygreatlakes.org"><img src="../../Img/mygreatlakes-100px.jpg"  /></a> 
								</td>
							</tr>
							<!---------------------------------------------------------- END ROW 3 ---------------------------------------------------------------->
							<!---------------------------------------------------------- NEW ROW 4 ---------------------------------------------------------------->
							<tr>
								<td>
									 <a target="_blank" href="https://epethealth.com/MedicalRecords"><img src="../../Img/ePetHealth.jpg"  /></a> 
								</td>

								<td>
									 <a target="_blank" href="http://www.kongregate.com"><img src="../../Img/Kongregate-100px.jpg"  /></a> 
								</td>

								<td>
									 <a target="_blank" href="http://gizmodo.com"><img src="../../Img/Gizmodo-100px.jpg"  /></a> 
								</td>

								<td>
									 <a target="_blank" href="https://www.wunderlist.com/login?redirect_url=/webapp"><img src="../../Img/Wunderlist.png"  /></a> 
								</td>


								<td>
									 <a target="_blank" href="https://account.meraki.com/secure/login/dashboard_login"><img src="../../Img/Meraki-100px.jpeg"  /></a> 
								</td>

								<td>
									<a target="_blank" href="https://www.changeip.com/accounts/clientarea.php"><img src="../../Img/Changeip-100px.png" /></a> 
								</td>

								<td>
									<a target="_blank" href="http://imgur.com/"><img src="../../Img/Imgur-100px.png"/></a> 
								</td>

								<td>
									 <a target="_blank" href="https://mail.medassets.com/owa/auth/logon.aspx?replaceCurrent=1&url=http%3a%2f%2fmail.medassets.com%2fowa%2f"><img src="../../Img/Outlook-100px.jpg"  /></a> 
								</td>
							</tr>
							<!---------------------------------------------------------- END ROW 4 ---------------------------------------------------------------->
							<!---------------------------------------------------------- NEW ROW 5 ---------------------------------------------------------------->
							<tr></tr>
							<!---------------------------------------------------------- END ROW 5 ---------------------------------------------------------------->
							<!---------------------------------------------------------- NEW ROW 6 ---------------------------------------------------------------->

						</tbody>
					</table>
				</p>
			</center>
		</div>
	</div>
</div>