<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false">

	<targets async="true">

		<target name="FileError" xsi:type="File"
		        fileName="${basedir}/Logs/Error.log"
		        archiveFileName="${basedir}/Logs/{#####}.log"
		        archiveNumbering="Sequence"
		        archiveEvery="Day"
		        maxArchiveFiles="30"
		        layout="${date:format=yyyy-MM-dd HH\:mm\:ss.mmm} [${level:uppercase=true}] ${message} ${exception:format=type,message,method:maxInnerExceptionLevel=5:innerExceptionSeparator=-->}"/>

		<target name="FileDebug" xsi:type="File"
		        fileName="${basedir}\logs\Info.log"
		        layout="${newline}${longdate} ${message}"
		        archiveFileName="${basedir}/Logs/{#####}.log"
		        archiveNumbering="Sequence"
		        archiveEvery="Day"
		        maxArchiveFiles="30"/>


		<target name="ConsoleWriter" xsi:type="Console" layout="${newline}${longdate} ${message}" />
		<target xsi:type="Trace" name="TraceWriter" layout="${newline}${longdate} ${message}" />
	</targets>
	<rules>
		<logger name="*" levels="Fatal,Error" writeTo="FileError" />
		<logger name="*" levels="Info,Trace" writeTo="FileDebug" />
	</rules>
</nlog>
