<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogFile="NLogErrorInternal.log"
      internalLogLevel="Error" >

  <extensions>
    <add assembly="NLog.Elmah"/>
  </extensions>

  <targets async="true">

    <target
			xsi:type="Elmah"
			name="Elmah"
			layout="${date:format=yyyy-MM-dd HH\:mm\:ss.mmm} [${level:uppercase=true}] ${message} ${exception:format=type,message,method:maxInnerExceptionLevel=5:innerExceptionSeparator=-->}"
		/>

    <target name="FileError" xsi:type="File"
				fileName="${basedir}/Logs/Error.log"
				archiveFileName="${basedir}/Logs/{#####}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss.mmm} [${level:uppercase=true}] ${message} ${exception:format=type,message,method:maxInnerExceptionLevel=5:innerExceptionSeparator=-->}"/>

    <target name="FileDebug" xsi:type="File"
				fileName="${basedir}/Logs/Info.log"
				layout="${newline}${longdate} ${message}"
				archiveFileName="${basedir}/Logs/{#####}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"/>

    <target name="ConsoleWrite" xsi:type="Console" layout="${newline}${longdate} ${message}" />

  </targets>
  <rules>
    <logger name="*" levels="Fatal,Error" writeTo="FileError" />
    <logger name="*" levels="Fatal,Error,Info" writeTo="Elmah" />
  </rules>
</nlog>