<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<appSettings>
		<add key="MedAssets.ResourceUrl" value="https://platwebdev.nthrive.com/platform.Stable3/" />
		<!--<add key="MedAssets.ResourceUrl" value="https://platwebrc.nthrive.com/platform.Rc/" />-->

		<!--<add key="BusSettings.IncomingUri" value="rabbitmq://localhost" />-->
		<add key="BusSettings.IncomingUri" value="rabbitmq://iv-rmq-pas.nthrive.com/PAS" />
		<!--<add key="BusSettings.IncomingUri" value="rabbitmq://rc-rmq2-pas.nthrive.com/PAS" />-->
		<add key="BusSettings.IncomingQueue" value="Worklist_Sync" />
		<add key="BusSettings.OutgoingQueue" value="Worklist_Sync_All" />
		<add key="BusSettings.Username" value="PAS" />
		<add key="BusSettings.Password" value="PAS" />
		<add key="BusSettings.HeartBeatInSeconds" value="4" />
		<add key="BusSettings.ConcurrentConsumerLimit" value="1" />
		<add key="BusSettings.PrefetchCount" value="0" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
