<div class="board" style="background: transparent">
	<h1 align="center" style="color: whitesmoke">{{ipAddress}}</h1>
	<!--<h1 align="center" style="color: whitesmoke">{{currentDate | date: 'MM/dd/yy  h:mm a'}}</h1>
	<h1 align="center" style="color: whitesmoke">UTC: {{currentDate | date: 'HH:mm:ss' : 'UTC'}}</h1>-->
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-3">
			<h1 align="center" style="color: whitesmoke">{{currentDate | date: 'MM/dd/yy h:mm a'}}</h1>
		</div>
		<div class="col-md-2">
			<h1 align="center" style="color: whitesmoke">UTC: {{currentDate | date: 'HH:mm:ss' : 'UTC'}}</h1>
		</div>
		<div class="col-md-4">
		</div>
	</div>
		<h1 align="center" style="color: whitesmoke; display: inline-flex">
			<!--Wedding in: <countdown units="Days | Hours | Minutes" end="April 28, 2018"></countdown>-->
		</h1>
		<div class="row">
			<div class="col-md-12">
				<table class="quickSelectTable">
					<tbody>
						<tr>
							<td>
								<a target="_blank" href="https://mail.google.com"><img src="Src/assets/Content/Img/gmail-100px.png" /></a>
							</td>
							<td>
								<a target="_blank" href="https://drive.google.com/drive/#my-drive"><img src="Src/assets/Content/Img/googledrive-100px.png" /></a>
							</td>

							<td>
								<a target="_blank" href="https://onedrive.live.com/about/en-us/"><img src="Src/assets/Content/Img/OneDrive-100px.jpg" /></a>
							</td>

							<td>
								<a target="_blank" href="https://www.dropbox.com"><img src="Src/assets/Content/Img/DropBox.png" /></a>
							</td>
							<td>
								<a target="_blank" href="https://www.google.com/calendar/render#g"><img src="Src/assets/Content/Img/googlecalendar-100px.png" /></a>
							</td>
							<td>
								<a target="_blank" href="http://www.twitter.com/"><img src="Src/assets/Content/Img/twitter-100px.png" /></a>
							</td>

							<td>
								<a target="_blank" href="https://www.facebook.com"><img src="Src/assets/Content/Img/facebook-100px.png" /></a>
							</td>

							<td>
								<a target="_blank" href="https://www.linkedin.com/hp/?dnr=h0FKDdhO1a7gUDc1QME6DLTF-57gUEBwCJzE&trk=nav_responsive_tab_home"><img src="Src/assets/Content/Img/linkedin-100px.png" /></a>
							</td>
						</tr>
						<!---------------------------------------------------------- END ROW 1 ---------------------------------------------------------------->
						<!---------------------------------------------------------- NEW ROW 2 ---------------------------------------------------------------->
						<tr>
							<td>
								<a target="_blank" href="http://www.amazon.com/"><img src="Src/assets/Content/Img/amazon-100px.png" /></a>
							</td>

							<td>
								<a target="_blank" href="http://www.newegg.com/"><img src="Src/assets/Content/Img/NewEgg-100px.jpg" /></a>
							</td>

							<td>
								<a target="_blank" href="https://www.chase.com"><img src="Src/assets/Content/Img/chase-100px.png" /></a>
							</td>

							<td>
								<a target="_blank" href="https://firstunitedbank.customercarenet.com/ccn/fub/mymortgage.html#HOME-SEC-C"><img src="Src/assets/Content/Img/Rent-100px.jpg" /></a>
							</td>

							<td>
								<a target="_blank" href="https://coserv.smarthub.coop/Login.html#"><img src="Src/assets/Content/Img/coserv-100px.png" /></a>
							</td>

							<td>
								<a target="_blank" href="https://usbank.com"><img src="Src/assets/Content/Img/USBank-100px.png" /></a>
							</td>

							<td>
								<a target="_blank" href="https://www.att.com/olam/loginAction.olamexecute?fromdlom=true"><img src="Src/assets/Content/Img/at&t-100px.png" /></a>
							</td>

							<td>
								<a target="_blank" href="https://www.hondafinancialservices.com/account-management"><img src="Src/assets/Content/Img/Honda.jpg" /></a>
							</td>

						</tr>
						<!---------------------------------------------------------- END ROW 2 ---------------------------------------------------------------->
						<!---------------------------------------------------------- NEW ROW 3 ---------------------------------------------------------------->
						<tr>
							<td>
								<a target="_blank" href="http://www.plex.tv"><img src="Src/assets/Content/Img/plex-100px.png" /></a>
							</td>

							<td>
								<a target="_blank" href="http://www.netflix.com"><img src="Src/assets/Content/Img/netflix-100px.png" /></a>
							</td>

							<td>
								<a target="_blank" href="https://eztv.ch/"><img src="Src/assets/Content/Img/EZTV-100px.png" /></a>
							</td>

							<td>
								<a target="_blank" href="http://www.youtube.com"><img src="Src/assets/Content/Img/youtube-100px.png" /></a>
							</td>

							<td>
								<a target="_blank" href="https://ifttt.com/recipes"><img src="Src/assets/Content/Img/Ifttt-100px.jpeg" /></a>
							</td>

							<td>
								<a target="_blank" href="http://www.iheart.com/"><img src="Src/assets/Content/Img/iheart-100px.png" /></a>
							</td>

							<td>
								<a target="_blank" href="https://csc.ntta.org/olcsc/"><img src="Src/assets/Content/Img/NTTA-100px.jpg" /></a>
							</td>

							<td>
								<a target="_blank" href="https://lakesidepaws.gingrapp.com/front_end/owner"><img src="Src/assets/Content/Img/LakesidePaws.jpg" /></a>
							</td>
						</tr>
						<!---------------------------------------------------------- END ROW 3 ---------------------------------------------------------------->
						<!---------------------------------------------------------- NEW ROW 4 ---------------------------------------------------------------->
						<tr>
							<td>
								<a target="_blank" href="https://epethealth.com/MedicalRecords"><img src="Src/assets/Content/Img/ePetHealth.jpg" /></a>
							</td>

							<td>
								<a target="_blank" href="http://www.kongregate.com"><img src="Src/assets/Content/Img/Kongregate-100px.jpg" /></a>
							</td>

							<td>
								<a target="_blank" href="http://gizmodo.com"><img src="Src/assets/Content/Img/Gizmodo-100px.jpg" /></a>
							</td>

							<td>
								<a target="_blank" href="https://www.wunderlist.com/login?redirect_url=/webapp"><img src="Src/assets/Content/Img/Wunderlist.png" /></a>
							</td>


							<td>
								<a target="_blank" href="https://arlo.netgear.com/#/login"><img src="Src/assets/Content/Img/Arlo.png" /></a>
							</td>

							<td>
								<a target="_blank" href="https://ring.com/users/sign_in"><img src="Src/assets/Content/Img/Ring.jpg" /></a>
							</td>

							<td>
								<a target="_blank" href="https://www.changeip.com/accounts/clientarea.php"><img src="Src/assets/Content/Img/changeip-100px.png" /></a>
							</td>

							<td>
								<a target="_blank" href="https://mail.medassets.com/owa/auth/logon.aspx?replaceCurrent=1&url=http%3a%2f%2fmail.medassets.com%2fowa%2f"><img src="Src/assets/Content/Img/Outlook-100px.jpg" /></a>
							</td>
						</tr>
						<!---------------------------------------------------------- END ROW 4 ---------------------------------------------------------------->
						<!---------------------------------------------------------- NEW ROW 5 ---------------------------------------------------------------->
						<tr></tr>
						<!---------------------------------------------------------- END ROW 5 ---------------------------------------------------------------->
						<!---------------------------------------------------------- NEW ROW 6 ---------------------------------------------------------------->

					</tbody>
				</table>
			</div>
		</div>
	</div>