
<div class="input-group">
    <input class="form-control x-DatePicker" style="float: none" 
           placeholder="Select a date (mm/dd/yyyy)"
           ngx-mydatepicker name="mydate"
           [ngModel]="model" 
           [options]="myOptions" 
           #dp="ngx-mydatepicker"
           (dateChanged)="onDateChanged($event)" 
           (blur)="onblur($event)" />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" (click)="dp.clearDate()">
            <i class="glyphicon glyphicon-remove"></i>
        </button>
        <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
</div>
 